<!-- Carousel wrapper -->
<div class="content">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="carouselConfig">
    <div ngxSlickItem *ngFor="let slide of optionimages" class="slide">
      <img src="{{ slide.picture }}" alt="" width="100%">
    </div>

  </ngx-slick-carousel>
</div>
<!-- Carousel wrapper -->
<!-- Top Feature Start -->
<div class="container-fluid top-feature">
  <div class="container py-5">
    <div class="row gx-0">
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
          <div class="d-flex">
            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
              <i class="fa fa-times text-success"></i>
            </div>
            <div class="ps-3">
              <h4>No Hidden Cost</h4>
              <span>Clita erat ipsum lorem sit sed stet duo justo</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
        <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
          <div class="d-flex">
            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
              <i class="fa fa-users text-success"></i>
            </div>
            <div class="ps-3">
              <h4>Dedicated Team</h4>
              <span>Clita erat ipsum lorem sit sed stet duo justo</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
        <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
          <div class="d-flex">
            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
              <i class="fa fa-phone text-success"></i>
            </div>
            <div class="ps-3">
              <h4>24/7 Available</h4>
              <span>Clita erat ipsum lorem sit sed stet duo justo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Feature End -->


<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-bold text-success">About Us</p>
      <h1 class="display-5 mb-5">Dedicated & Experienced Team Members</h1>
    </div>
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="fs-5 fw-bold text-success">Why Choosing Us!</p>
        <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
          erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <a class="btn btn-success py-3 px-4" href="">Explore More</a>
      </div>
      <div class="col-lg-6">
        <div class="row g-4 align-items-center">
          <div class="col-md-6">
            <div class="row g-4">
              <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                  <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-check fa-3x text-success"></i>
                  </div>
                  <h4 class="mb-0">100% Satisfaction</h4>
                </div>
              </div>
              <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                  <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-users fa-3x text-success"></i>
                  </div>
                  <h4 class="mb-0">Dedicated Team</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
            <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
              <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                <i class="fa fa-tools fa-3x text-success"></i>
              </div>
              <h4 class="mb-0">Modern Equipment</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->


<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-bold text-success">Our Services</p>
      <h1 class="display-5 mb-5">Services That We Offer For You</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="https://picsum.photos/550/550?random=2" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="https://picsum.photos/64/64?random=2" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-success me-2"></i> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="https://picsum.photos/550/550?random=5" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="https://picsum.photos/64/64?random=5" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-success me-2"></i> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="https://picsum.photos/550/550?random=4" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="https://picsum.photos/64/64?random=4" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-success me-2"></i> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="https://picsum.photos/550/550?random=1" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="https://picsum.photos/64/64?random=1" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-success me-2"></i> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="https://picsum.photos/550/550?random=2" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="https://picsum.photos/64/64?random=2" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-success me-2"></i> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded d-flex h-100">
          <div class="service-img rounded">
            <img class="img-fluid" src="https://picsum.photos/550/550?random=3" alt="">
          </div>
          <div class="service-text rounded p-5">
            <div class="btn-square rounded-circle mx-auto mb-3">
              <img class="img-fluid" src="https://picsum.photos/64/64?random=3" alt="Icon">
            </div>
            <h4 class="mb-3">Landscaping</h4>
            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.
            </p>
            <a class="btn btn-sm" href=""><i class="fa fa-plus text-success me-2"></i> Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-bold text-success">Our Team</p>
      <h1 class="display-5 mb-5">Dedicated & Experienced Team Members</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded">
          <img class="img-fluid" src="https://picsum.photos/550/650?random=2" alt="">
          <div class="team-text">
            <h4 class="mb-0">Doris Jordan</h4>
            <p class="text-success">Landscape Designer</p>
            <div class="team-social d-flex">
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded">
          <img class="img-fluid" src="https://picsum.photos/550/650?random=6" alt="">
          <div class="team-text">
            <h4 class="mb-0">Johnny Ramirez</h4>
            <p class="text-success">Garden Designer</p>
            <div class="team-social d-flex">
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded">
          <img class="img-fluid" src="https://picsum.photos/550/650?random=12" alt="">
          <div class="team-text">
            <h4 class="mb-0">Diana Wagner</h4>
            <p class="text-success">Senior Gardener</p>
            <div class="team-social d-flex">
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded">
          <img class="img-fluid" src="https://picsum.photos/550/650?random=13" alt="">
          <div class="team-text">
            <h4 class="mb-0">Diana Wagner</h4>
            <p class="text-success">Senior Gardener</p>
            <div class="team-social d-flex">
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- =========== Events Start =========== -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto" style="max-width: 500px;">
      <p class="fs-5 fw-bold text-success">Events</p>
      <h1 class="display-5 mb-5">Dedicated & Experienced Team Members</h1>
    </div>
    <div class="row g-4">
      <ngx-slick-carousel class="carousel event-carousel" #slickModal="slick-carousel" [config]="eventConfig">
        <div ngxSlickItem *ngFor="let slide of eventImages" class="slide event-item">
          <div class="card mx-1">
            <div class="imageDiv  mb-2">
              <img src="{{ slide.picture }}" class="img-fluid rounded" alt="{{slide.name}}">
            </div>
            <div class="card-body">
              <h4 class="fw-bold">{{slide.name}}</h4>
              <p class="text-start text-justify">
                {{slide.description}}
              </p>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<!-- =========== Events End =========== -->
