<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="text-center mx-auto wow fadeInUp pt-5" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-bold text-success">CONTACT INFO</p>
      <div class="divider div-transparent"></div>
      <h1 class="display-5 mb-5">Dedicated & Experienced Team Members</h1>
    </div>

    <mat-card>
      <mat-card-header>
        <mat-card-subtitle class="pb-2 text-uppercase">Location On Map</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14606.851874968756!2d90.3743777!3d23.7576129!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf780962ad47%3A0x18389e88b939aa61!2sTactsoft%20Limited!5e0!3m2!1sen!2sbd!4v1685010509455!5m2!1sen!2sbd"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      </mat-card-content>
    </mat-card>

    <div class="row mt-5">
      <div class="col-lg-5">
        <div class="info">
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle class="pb-3 text-uppercase">Our Address</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Office:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </mat-card-content>
          </mat-card>


        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0">
        <form [formGroup]="clientMessageForm">
          <div class="row">
            <div class="col-md-12">
              <mat-card class="t-card">
                <mat-card-header class="mb-2">
                  <mat-card-subtitle class="pb-3">SEND US A MESSAGE</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="w-100">
                        <mat-label>
                          Your Name
                          <span class="required">*</span>
                        </mat-label>
                        <input matInput formControlName="name" placeholder="Enter Carousel Name" />
                        <mat-error *ngIf="clientMessageForm.controls['name'].hasError('required')">
                          Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="w-100">
                        <mat-label>
                          Your Email
                          <span class="required">*</span>
                        </mat-label>
                        <input matInput formControlName="email" placeholder="Enter Carousel Name" />
                        <mat-error *ngIf="clientMessageForm.controls['email'].hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="clientMessageForm.controls['email'].hasError('email') &&
                            !clientMessageForm.controls['email'].hasError('required')">
                          Email is not valid
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12 mt-2">
                      <mat-form-field class="w-100">
                        <mat-label>
                          Subject
                          <span class="required">*</span>
                        </mat-label>
                        <input matInput formControlName="subject" placeholder="Enter Carousel Name" />
                        <mat-error *ngIf="clientMessageForm.controls['subject'].hasError('required')">
                          Subject is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12 mt-2">
                      <mat-form-field class="w-100">
                        <mat-label>
                          Message
                          <span class="required">*</span>
                        </mat-label>
                        <textarea matInput rows="6" formControlName="message" placeholder="Enter Carousel Name">

                          </textarea>
                        <mat-error *ngIf="clientMessageForm.controls['message'].hasError('required')">
                          Message is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <button class="t-mat-raised-button mr-2" mat-stroked-button (click)="reset()">Reset</button>
              <button class="t-mat-raised-button mr-2" mat-stroked-button (click)="clear()">clear</button>
              <button mat-stroked-button color="primary" (click)="save()" class="t-mat-raised-button">
                <mat-icon>save</mat-icon> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section><!-- End Contact Section -->
